.payment-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
}

.providers {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.phone-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.pay-btn {
  width: 100%;
  padding: 10px;
  background: #ff5722;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pay-btn:hover {
  background: #e64a19;
}
